@model dashboard.Models.ViewModels.ForgotPasswordVM

<div class="card mt-4">
    <div class="card-header bg-white">

    </div>
    <div class="card-body">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" role="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Email" placeholder="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success form-control btn-block">Send Email</button>
            </div>
        </form>
    </div>
    <div class="card-footer bg-white">
        <div class="card-footer-item">
            <a asp-action="Login">Login</a>
        </div>
    </div>

</div>


