@model dashboard.Models.ViewModels.EmployeeVM

<div class="row" style="width:100%">
    <div class="col-12 pb-4">
        <div class="card">
            <div class="card-header bg-white">
                <h4>Search</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-4">
                        <label for="Code">Code</label>
                        <input id="Code" class="form-control"/>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Employee.JobTitle"></label>
                        <input asp-for="Employee.JobTitle" id="JobTitle" class="form-control" />
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Employee.DepartmentId"></label>
                        <select asp-for="Employee.DepartmentId" id="Departement" asp-items="@Model.EmployeeSelectList" class="form-control">
                            <option selected value="">Not Employee</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="Employee.ArabicName"></label>
                        <input asp-for="Employee.ArabicName" id="ArabicName" class="form-control" />
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Employee.EnglishName"></label>
                        <input asp-for="Employee.EnglishName" id="EnglishName" class="form-control" />
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Employee.Email"></label>
                        <input asp-for="Employee.Email" id="Email" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-12">
        <div class="card">
            <div class="card-header row bg-white m-0">
                <div class="col-6">
                    <h4 class="text-info">Employee</h4>
                </div>
                <div class="col-3 offset-3">
                    <a asp-action="Upsert" asp-controller="Employee" class="btn btn-info form-control text-white">
                        Create
                    </a>
                </div>
            </div>
            <div class="card-body">
                <table class="table" id="DT_load">
                    <thead>
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Job Title</th>
                            <th scope="col">Departement</th>
                            <th scope="col">Arabic Name</th>
                            <th scope="col">English Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Insurance</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tfoot hidden>
                        <tr>
                            <th>Code</th>
                            <th>JobTitle</th>
                            <th>Departement</th>
                            <th>ArabicName</th>
                            <th>EnglishName</th>
                            <th>Email</th>
                            <th>Insurance</th>
                            <th>Button</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>


</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/employee.js" asp-append-version="true"></script>
}
