@model dashboard.Models.ViewModels.EmployeeVM
@{
    var pageName = "Create a new employee";
    var buttonName = "Create";
    if (Model.Employee.Id != 0)
    {
        pageName = "Edit employee account";
        buttonName = "Update";
    }
}
<div class="col-12">
    <div class="card">
        <h1 class="text-info card-header bg-white">@pageName</h1>
        <div class="card-body">
            <form asp-controller="Employee" asp-action="Upsert" method="post" role="form">
                @if (Model.Employee.Id != 0)
                {
                    <input asp-for="Employee.Id" class="form-control" hidden />
                }
                <div class="row">
                    <div class="form-group col-6">
                        <label asp-for="Employee.Code"></label>
                        <input asp-for="Employee.Code" class="form-control" />
                        <span asp-validation-for="Employee.Code" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Employee.Email"></label>
                        <input asp-for="Employee.Email" class="form-control" />
                        <span asp-validation-for="Employee.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Employee.ArabicName"></label>
                        <input asp-for="Employee.ArabicName" class="form-control" />
                        <span asp-validation-for="Employee.ArabicName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Employee.EnglishName"></label>
                        <input asp-for="Employee.EnglishName" class="form-control" />
                        <span asp-validation-for="Employee.EnglishName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Employee.DepartmentId"></label>
                        <select asp-for="Employee.DepartmentId" asp-items="@Model.EmployeeSelectList" class="form-control">
                            <option disabled selected>Not Employee</option>
                        </select>
                        <span asp-validation-for="Employee.DepartmentId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Employee.JobTitle"></label>
                        <input asp-for="Employee.JobTitle" class="form-control" />
                        <span asp-validation-for="Employee.JobTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check col-2">
                        <input asp-for="Employee.Insurance" />
                        <label asp-for="Employee.Insurance" class="form-check-label"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <button type="submit" class="btn btn-outline-info form-control">@buttonName</button>
                    </div>
                    <div class="col-2">
                        <a asp-action="Index" class="btn btn-outline-warning form-control">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}